---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<url>
		<loc>https://johnnyonion.com/blog/</loc>
	</url>
	{%- for post in collections.post %}
	<url>
		<loc>https://johnnyonion.com/blog{{ post.url }}</loc>
		<lastmod>{{ post.date | htmlDateString }}</lastmod>
	</url>
	{%- endfor %}
</urlset>
